/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


/* Статистика игрока */
.player-stats {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: left;
}

.player-stats h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.player-stats p {
    font-size: 18px;
    margin-bottom: 5px;
}

/* Форма обратной связи */
.feedback-form {
    margin-top: 40px;
}

.feedback-form form {
    display: flex;
    flex-direction: column;
}

.feedback-form label {
    font-size: 18px;
    margin-bottom: 5px;
}

.feedback-form input,
.feedback-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feedback-form button {
    padding: 10px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: #45a049;
}

