/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
/* Играть */
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.player-hand {
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.card {
    width: 30px;
    height: 50px;
    background-color: red; /* Обновлено */
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; /* Черный цвет текста */
}

/* Стол с игроками */
.poker-table-container {
    margin: 10px 0;
    text-align: center;
}
.poker-table-container h2{
    padding: 20px;
}
/* Прямоугольный стол */
.table {
    position: relative;
    width: 600px; /* Прямоугольный стол */
    height: 300px;
    margin: 0 auto;
    border: 8px solid green;
    background-color: #228B22;
    border-radius: 250px;
}
.table-info {
    margin-top: 80px;
}
/* Карты на столе по центру */
.community-cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    width: 320px; /* Ширина блока с картами */
    height: 80px; /* Высота блока с картами */
}

/* Контейнер для игроков */
.players-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;/* Контейнер для игроков */
    height: 150%;/* Контейнер для игроков */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Игроки */
.player {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Позиционирование игрока */
}

/* Специфические стили для позиций игроков */
.player-1 {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.player-2 {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.player-3 {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.player-4 {
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.player-5 {
    top: 10%;
    left: 20%;
}

.player-6 {
    top: 10%;
    left: 80%;
}

.player-7 {
    bottom: 10%;
    left: 20%;
}

.player-8 {
    bottom: 10%;
    left: 80%;
}

.player-9 {
    bottom: 30%;
    left: 30%;
}

.player-10 {
    bottom: 30%;
    left: 70%;
}

/* Карты крупье */
.dealer-cards {
    position: absolute;
    top: 10px; /* Измените при необходимости */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    width: 300px; /* Ширина блока с картами крупье */
}

/* Стили для формы выбора количества ботов */
.form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container h3 {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

/* Кнопки действий */
.action-buttons {
    margin-top: 20px;
    text-align: center;
}

.action-buttons input {
    padding: 10px;
    width: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.action-buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.action-buttons button:hover {
    background-color: #0056b3;
}

/* Логи и действия игры */
.game-logs {
    margin-top: 40px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    max-width: 800px; /* Установка максимальной ширины поля для логов */
    margin: 20px auto;
}

#logs {
    height: 600px; /* Установка начальной высоты поля для логов */
    width: 780px;
    overflow-y: scroll; /* Добавление вертикальной прокрутки, если содержимого больше, чем высота */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
