<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - Покер онлайн</title>
    <link rel="shortcut icon" href="static/images/site.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/about.css') }}">
</head>
<body>
    <header>
        <h1>О нас</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="profile.html">Мой профиль</a></li>
                <li><a href="game.html">Играть</a></li>
                <li><a href="tournaments.html">Турниры</a></li>
                <li><a href="rating.html">Рейтинг</a></li>
                <li><a href="rules.html">Правила</a></li>
                <li><a href="about.html">О нас</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about">
            <h2>О нас</h2>
            <p>Покер онлайн - это элитный клуб для истинных ценителей покера. Мы предоставляем возможность играть в покер онлайн, участвовать в турнирах и подниматься на вершину рейтинга игроков.</p>
            <p>Наша цель - создать комфортное и увлекательное пространство для всех любителей покера. Присоединяйтесь к нам прямо сейчас!</p>
        </section>
                <!-- Форма обратной связи -->
        <section class="feedback-form">
            <h3>Оставьте ваши предложения и вопросы</h3>
            <form>
                <label for="name">Ваше имя:</label>
                <input type="text" id="name" name="name">

                <label for="email">Ваш email:</label>
                <input type="email" id="email" name="email">

                <label for="message">Сообщение:</label>
                <textarea id="message" name="message"></textarea>

                <button type="submit">Отправить</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Покер онлайн</p>
    </footer>
</body>
</html>
