<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard.css') }}">
</head>
<body>
    <header>
        <h1>Дашборд</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="{{ url_for('profile', token=token) }}">Профиль</a></li>
                <li><a href="game.html">Играть</a></li>
                <li><a href="{{ url_for('tournaments', token=token) }}">Турниры</a></li>
                <li><a href="{{ url_for('rating', token=token) }}">Рейтинг</a></li>
                <li><a href="{{ url_for('rules', token=token) }}">Правила</a></li>
                <li><a href="{{ url_for('about', token=token) }}">О нас</a></li>
                <li><a href="login.html">login</a></li>
                <li><a href="register.html">register</a></li>
                <li><a href="{{ url_for('dashboard', token=token) }}">Дашборд</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <h2>Добро пожаловат1211312ь, {{ username }}!</h2>
        <p>Ваш баланс: {{ balance }} монет.</p>
        <a href="game.html">Начать игру</a>
    </main>

    <footer>
        <p>&copy; 2024 Poker Game</p>
    </footer>
</body>
</html>
