<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard.css') }}">
</head>
<body>
    <header>
        <h1>Личный кабинет</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="profile.html">Мой профиль</a></li>
                <li><a href="game.html">Играть</a></li>
                <li><a href="tournaments.html">Турниры</a></li>
                <li><a href="rating.html">Рейтинг</a></li>
                <li><a href="rules.html">Правила</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="login.html">login</a></li>
                <li><a href="register.html">register</a></li>
                <li><a href="dashboard.html">dashboard</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Добро пожаловат1211312ь, {{ username }}!</h2>
        <p>Ваш баланс: {{ balance }} монет.</p>
        <a href="game.html">Начать игру</a>
    </main>

    <footer>
        <p>&copy; 2024 Poker Game</p>
    </footer>
</body>
</html>
