<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рейтинг - Покер онлайн</title>
    <link rel="shortcut icon" href="static/images/site.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/rating.css') }}">
</head>
<body>
    <header>
        <h1>Рейтинг</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index', token=token) }}">Главная</a></li>
                <li><a href="{{ url_for('profile', token=token) }}">Профиль</a></li>
                <li><a href="{{ url_for('game', token=token) }}">Играть</a></li>
                <li><a href="{{ url_for('tournaments', token=token) }}">Турниры</a></li>
                <li><a href="{{ url_for('rating', token=token) }}">Рейтинг</a></li>
                <li><a href="{{ url_for('rules', token=token) }}">Правила</a></li>
                <li><a href="{{ url_for('about', token=token) }}">О нас</a></li>
                <li><a href="login.html">login</a></li>
                <li><a href="register.html">register</a></li>
                <li><a href="{{ url_for('dashboard', token=token) }}">Дашборд</a></li>
            </ul>
        </nav>
    </header>
    <main>
                <!-- Текущие бонусы -->
        <section class="current-bonuses">
            <h3>Текущие бонусы и акции</h3>
            <div class="bonuses">
                <p>Бонус на первый депозит: +20%</p>
                <p>Пригласи друга и получи 50 фишек</p>
                <p>Участвуй в турнире и выиграй до 1000 фишек!</p>
            </div>
        </section>

        <section class="rating">
            <h2>Рейтинг игроков</h2>
            <p>Здесь будет отображаться таблица рейтинга игроков.</p>
            <!-- Пример таблицы рейтинга -->
            <table>
                <thead>
                    <tr>
                        <th>Место</th>
                        <th>Имя</th>
                        <th>Рейтинг</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Иванов Иван</td>
                        <td>1500</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Петров Петр</td>
                        <td>1450</td>
                    </tr>
                    <!-- Добавьте других игроков при необходимости -->
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Покер онлайн</p>
    </footer>
</body>
</html>
